#version=DEVEL
install

text
cmdline
poweroff
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
# cdrom
# Run the Setup Agent on first boot
firstboot --enable
# ignoredisk --only-use=hda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain

# Root password: fedora
rootpw --iscrypted $6$lwMmlTMGBL1zxsi6$3.nLvOsPDlybJJN2e.Uer4Zh94SmRsNJ6vYmuUWEGpx6IKmkF/OZz52KIZP2htvMev3hcGwna52gwVnORqOiM1

# System services
# services --enabled="ssh"
# System timezone
timezone Europe/Prague --isUtc
# X Window System configuration information
# xconfig  --startxonboot
skipx
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda --append="rhgb quiet console=tty0 console=ttyS0,115200"
# Partition clearing information
clearpart --all --initlabel --drives=vda


# part pv.008002 --grow --size=500
# volgroup vg --pesize=32768 pv.008002
# logvol swap --name=lv_swap --vgname=vg --grow --size=512 --maxsize=1024
# logvol / --fstype=ext4 --name=lv_root --vgname=vg --grow --size=1024 --maxsize=51200
# part /boot --fstype=ext4 --size=500
autopart


%packages
@core
@hardware-support
@standard

%end